.collections-section {
  padding: 55px 20px;
  background-color: var(--bg-light);
  text-align: center;
}

.collections-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0 60px 80px;
}

.title {
  font-family: var(--font-heading);
  font-size: 1.5rem;
  position: relative;
  color: var(--text-dark);
}

.title::after {
  content: '';
  display: block;
  width: 150px;
  height: 2px;
  background-color: var(--primary-green);
  margin-top: 8px;
}

.subtitle {
  font-family: var(--font-body);
  font-size: 1rem;
  color: var(--gray-dark);
  max-width: 300px;
  text-align: right;
}

.collections-gallery-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nav-arrow {
  padding: 0 25px;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--text-dark);
}

.collections-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.collection-card {
  position: relative;
  max-width: 220px;
  margin: 0 auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.collections-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  aspect-ratio: 1 / 1;
}

.collection-card:hover img {
  transform: scale(1.05);
}

.card-title {
  margin-top: 12px;
  font-family: var(--font-body);
  color: var(--text-dark);
}

/* 0–500px */
@media (max-width: 500px) {
  .collections-gallery {
    grid-template-columns: 1fr;
  }

  .collections-header {
    text-align: center;
    padding: 0 1rem 10px;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 1.3rem;
  }

  .subtitle {
    font-size: 0.9rem;
    max-width: 90%;
    padding-top: 10px;
    text-align: center;
  }

  .collection-card {
    max-width: 100%;
    padding-top: 20px;
  }

  .collection-card img {
    aspect-ratio: 2 / 1;
  }

  .nav-arrow {
    display: none !important;
  }
}

/* 501–767px */
@media (min-width: 501px) and (max-width: 767px) {
  .collections-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .collection-card {
    max-width: 100%;
  }

  .subtitle {
    font-size: 0.95rem;
    text-align: center;
  }

  .nav-arrow {
    display: none !important;
  }
}

/* 768–900px */
@media (min-width: 768px) and (max-width: 900px) {
  .collections-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .collections-header {
    flex-direction: row;
    gap: 1.5rem;
    padding: 0 40px 60px;
  }

  .title {
    font-size: 1.4rem;
  }

  .subtitle {
    font-size: 0.95rem;
  }
}

/* 1800px+ */
@media (min-width: 1800px) {
  .collections-gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .collection-card {
    max-width: 280px;
  }

  .collection-card img {
    border-radius: 24px;
  }

  .collections-header {
    padding: 0 100px 100px;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.1rem;
    max-width: 400px;
  }
}

