.services-section {
  padding: 80px 20px;
  background-color: #EDEDED;
  text-align: center;
}

.services-title {
  font-family: var(--font-heading);
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
}

.services-subtext {
  font-family: var(--font-body);
  font-size: 1rem;
  color: var(--text-dark);
  margin-bottom: 60px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

.services-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 30px;
  justify-content: center;
  margin-bottom: 40px;
  width: 96%;
  margin: auto;
}

.services-card {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.services-card:hover .services-img {
  transform: scale(1.05);
}

.services-card:hover .services-label {
  transform: scale(1.03);
  font-weight: 700;
}

.services-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  object-fit: cover;
}

.services-label {
  margin-top: 12px;
  font-family: var(--font-body);
  font-size: 0.85rem;
  color: var(--text-dark);
  transition: transform 0.3s ease, font-weight 0.3s ease;
}


.services-btn:hover {
  background-color: #699f7e;
}
@media (max-width: 480px) {
  .services-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .services-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
    width: 90%;
  }

  .services-img {
    width: 135px;
    height: 135px;
  }

  .services-label {
    font-size: 0.85rem;
    margin-top: 6px;
    text-align: center;
  }

  .services-subtext {
    font-size: 0.9rem;
    padding: 0 15px;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .services-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    width: 100%;
  }

  .services-img {
    width: 120px;
    height: 120px;
  }

  .services-label {
    font-size: 0.95rem;
    margin-top: 8px;
  }

  .services-subtext {
    font-size: 1rem;
    padding: 0 20px;
  }
}
