.gallery-carousel {
  padding: 2rem 0;
  background: linear-gradient(180deg, #ffffff 0%, #f5f5f5 100%);
}

.gallery-carousel__title {
  font-family: var(--font-heading);
  font-size: 2rem;
  padding-left: 6rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.gallery_underline {
  width: 210px;
  height: 2px;
  background-color: #7DA98E;
  margin: 0 0 70px 200px;
  border-radius: 2px;
}

.gallery-carousel__container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-left: 0;
}

.gallery-carousel__container::-webkit-scrollbar {
  display: none;
}
.gallery-carousel__container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gallery-card {
  flex: 0 0 auto;
  width: 400px;
  padding-top: 0.9rem;
}

.gallery-card__image {
  width: 100%;
  height: auto;
  aspect-ratio: 4/5; /* regula proporção da imagem */
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  transition: transform 0.4s ease;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2);
}

.gallery-card__image:hover {
  transform: scale(1.03);
}

/* =========== BREAKPOINTS / MEDIA QUERIES =========== */

/* até 500px — tela mobile estreita */
@media (max-width: 500px) {
  .gallery-carousel__title {
    font-size: 1.5rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
  }

  .gallery_underline {
    margin: 0 150px 40px auto;
    width: 40%;
  }

  .gallery-carousel__container {
    gap: 0.6rem;
  }

  .gallery-card {
    width: 340px;
    padding-left: 5px;
  }

  .gallery-card__image {
    aspect-ratio: 4/6;
    border-radius: 8px;
   padding-left: 10px;
  }
}

/* entre 501px e 767px */
@media (min-width: 501px) and (max-width: 767px) {
  .gallery-carousel__title {
    font-size: 1.7rem;
    padding-left: 2rem;
  }

  .gallery_underline {
    margin-left: 2rem;
    margin-bottom: 50px;
  }

  .gallery-card {
    width: 300px;
  }

  .gallery-card__image {
    border-radius: 10px;
  }
}

/* entre 768px e 900px */
@media (min-width: 768px) and (max-width: 900px) {
  .gallery-carousel__container {
    gap: 0.8rem;
  }
  .gallery-card {
    width: 320px;
  }
  .gallery_card__image {
    border-radius: 10px;
  }
}

/* telas muito largas (>= 1800px) */
@media (min-width: 1800px) {
  .gallery-carousel__title {
    font-size: 2.4rem;
    padding-left: 8rem;
    margin-bottom: 1rem;
  }

  .gallery_underline {
    width: 260px;
    margin-left: 300px;
    margin-bottom: 80px;
  }

  .gallery-carousel__container {
    gap: 1.5rem;
  }

  .gallery-card {
    width: 500px;
  }

  .gallery-card__image {
    border-radius: 14px;
  }
}
