.pv-hero {
  position: relative;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.pv-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pv-overlay h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  font-family: var(--font-heading);
}

@media (max-width: 500px){
  .pv-overlay h1 {
    font-size: 2rem;
  }
}
