@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lora:wght@600;700&display=swap');

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 1rem;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  z-index: 999;
  font-family: 'Inter', sans-serif;
}

.logo {
  flex: 1;
  display: flex;
}
.logo img {
  width: auto;
  height: 200px;
}

/* ====== DESKTOP ====== */
.navbar-right-group {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-desktop {
  display: flex;
}
.nav-desktop ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}
.nav-desktop a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}
.nav-desktop a.active {
  color: #7DA98E;
}

/* Carrinho Desktop */
.navbar-cart-icon {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.navbar-cart-img {
  width: 26px;
  height: 26px;
}

/* ====== MOBILE ====== */
.navbar-hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 1001;
  padding-right: 20px;
}
.navbar-hamburger span {
  width: 30px;
  height: 3px;
  background-color: white;
  display: block;
}

.nav-mobile {
  display: none;
}
.navbar-overlay {
  display: none;
}

@media (max-width: 767px) {
  .navbar-cart-icon {
    display: none;
  }
  
  .nav-desktop {
    display: none;
  }

  .navbar-hamburger {
    display: flex;
  }

  .nav-mobile {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    background-color: rgb(59, 59, 59);
    padding: 2rem;
    z-index: 1000;
    transition: right 0.3s ease;
  }

  .nav-mobile.open {
    right: 0;
    z-index: 1111;
  }

  .nav-mobile ul {
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .nav-mobile a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
  }

  .nav-mobile a.active {
    color: #7DA98E;
  }

  .navbar-close {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    align-self: flex-end;
    cursor: pointer;
  }

  .navbar-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
  }

  .logo img {
    height: 100px;
  }

  .navbar-cart-img {
    width: 24px;
    height: 24px;
  }

  @media (max-width: 600px) {
    .logo img {
      height: 120px;
    }
  }

  @media (max-width: 320px) {
    .logo img {
      height: 100px;
    }
  }
}
