.sample-hero {
  position: relative;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sample-hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.sample-overlay {
  position: relative;
  z-index: 2;
}

.sample-overlay h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 500px) {
  .sample-overlay h1 {
    font-size: 2rem;
  }
}
